services:
  healthcare-api:
    container_name: healthcare_api
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - healthcare_network
    command: ["npm", "run", "start"]

  mongo:
    image: mongo:7.0
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - healthcare_network

volumes:
  mongo_data:


networks:
  healthcare_network:
    driver: bridge